# local env with secrets
.env
# optional: additional secret configs
configs/*.secret.yaml
# Ignore Python virtual environment
venv/

#data
data/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore large model files
# *.h5
# *.joblib

# Ignore the csv. in models
models/**/*.csv